app/.task
.vscode
.DS_Store
*.code-workspace
*.js
!jest.config.js
*.d.ts
node_modules
.cdk.staging
cdk.out
lambda/py/package
.vscode
lambda/py/dist/my-deployment-package.zip
lambda/py/dist/app.zip
lambda/go/dist/bootstrap
lambda/go/dist/main.zip
lambda/ts/dist/index.js.map
lambda/ts/dist/index.zip
